
body {
    width:400px;
    height:450px;
    margin:0 auto;
}

.header {
    margin:0;
    padding:0;
    width:100%;
    height:100px;
    background-color:#141f40;
}

.contents {
    margin:0;
    padding:0;
    width:100%;
    height:250px
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.left {
    margin:0;
    padding:0;
    width:150px;
    height:100%;
    background-color:#80bfa8;
    float:left;
}

.right {
    margin:0;
    padding:0;
    width:250px;
    height:100%;
    background-color:#8c2727;
    float:left;
}

.footer {
    margin:0;
    padding:0;
    width:100%;
    height:100px;
    background-color:#d98d30;
    float:left;
}

@media screen and (max-width:767px) {
    .header {
        width:250px;
    }
    .right {
        width:100px;
    }
    .footer {
        width:250px;
    }
}

@media screen and (max-width:479px){
    
    body{
        width:150px;
    }
    
    .header{
        width:150px;
    }

    .left{
        width:150px;
    }
    .right{
        width:150px;
    }
    .footer {
        width:150px;
    }
}